<%= link_to "Logout", admin_session_path(@current_user.id), :method => :delete %>
<h1>Articles</h1>
<% @articles.each do |article| %>
  <div class="article">
    Title: <%= article.title %>
    <%= link_to "Edit Article", edit_admin_article_path(article) %>
  </div>
<% end %>
