<section class="snippets">
  <h2>Articles</h2>
  <%= render :partial => 'articles/shared/snippet', :collection => @articles %>
</section>
<section class="sidebar">
  <ul class="affiliate-links">
    <li><%= link_to 'Home', 'http://www.rblane.com'%></li>
    <li><%= link_to 'Github', 'http://www.github.com/rob-lane'%></li>
    <li><%= link_to 'LinkedIn', 'http://www.linkedin.com/in/rblane' %></li>
  </ul>
</section>