#session_wrapper
{
  #login_wrapper {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    border-radius: 7px;

    h1 {
      background-color: tan;
      text-align: center;
      width: 100%;
    }
  }
}