#page-header {
  margin: 5px;

  h1.title {
    margin-left: 7px;
    padding-top: 5px;
  }
}

#content_wrapper {
  @include container;

  .sidebar {
    @include span(3 last);
  }
  .snippets {
    @include span(9 first);
  }
}