<li class="form-section text-setting">
  <%= hidden_field_tag 'settings[][id]', setting.id %>
  <label><strong><%= setting.name.humanize %>:</strong></label>
  <%= text_field_tag 'settings[][value]', setting.value, :id => "setting_#{setting.id}" %>
</li>