<h1 class="content-title">Blog Settings</h1>
<ul class="settings-form-group">
  <% @settings.each do |setting| %>
    <li class="form-section">
      <%= form_for setting, :url => admin_settings_path(setting), :method => :put do |form| %>
        <label><strong><%= setting.name.humanize %>:</strong></label><%= form.text_field :value %>
        <%= form.submit 'Save' %>
      <% end %>
    </li>
  <% end %>
</ul>
