<h1 class="content-title">Blog Settings</h1>
<ul class="settings-form-group">
  <%= form_tag(admin_settings_path, :method => :put, :multipart => true) do %>
    <% @settings.each do |setting| %>
      <%= render :partial => "#{setting.field_type}_field", :locals => {:setting => setting} %>
    <% end %>
    <%= submit_tag 'Save' %>
  <% end %>
</ul>
