<section class="sidebar">
  <h1>Management</h1>
  <ul class="sidebar-links">
    <li><%= link_to 'Settings', admin_settings_path %></li>
    <li><%= link_to 'Articles', admin_articles_path %></li>
  </ul>
</section>